.testDiv {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

.mainApp {
    display: flex;
    height: 100vh; /* Full height of the screen */
}
.navbar {
    width: 20%; /* Takes up 20% of the screen */
    background-color: #1f2937; /* Dark gray (Tailwind bg-gray-800) */
    color: white; /* White text */
    height: 100vh; /* Full height */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    overflow-y: auto; /* Scroll if content overflows */
  }
  
  .rest {
    width: 80%; /* Takes up the remaining 80% */
    padding: 1rem; /* Some padding for spacing */
    overflow-y: auto; /* Scrollable if needed */
    background-color: #407bcd; /* Dark gray (Tailwind bg-gray-800) */
  }